header {
	text-align: center;
}

nav {
	padding: 2%;
}

article {
	padding: 2%;
}

footer {
	padding: 2%;
}

div {
	width: 100%;
	padding: 2%;
}

body {
	text-align: ;
	background-color: ;
	font-family: Whitney, sans-serif;
	font-size: 16px;
}

hr {
	width: 1000px;
	color: #d5c49b;
}

h1 {
	color: #879baf;
	font-weight: normal;
	font-size: 2.5em;
	text-align: center;
}

h2 {
	color: #879baf;
	font-weight: lighter;
	font-size: 2em;
}

h3 {
	color: #879baf;
	font-weight: lighter;
	font-size: 1.5em;
}

p {
	color: #6f727b;
	font-weight: lighter;
	font-size: 1em;
}

ul{
	color: #6f727b;
	font-weight: lighter;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #d5c49b;
	font-weight: lighter;
	font-size: 1.5em;
}

footer {
	background-color: #879baf;
	color: #fff;
}

#one {
	padding: 2%;
	margin: 2%;
}

#two {
	padding: 2%;
	margin: 2%;
}

#three {
	padding: 2%;
	margin: 2%;
}

#image {
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 25%;
}


#left {
	padding: 2%;
	float: left;
	width: 25%;
	margin: 2%;
}

#center {
	padding: 2%;
	float: left;
	width: 25%;
	margin: 2%;
}

#right {
	padding: 2%;
	float: left;
	width: 25%;
	margin: 2%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media screen only and (min-width: 500px) {
body {
font-size: 12px;
}
